h1{
    color:rgb(28, 8, 82);
    font-style: italic;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
#map {
    height: 400px;
  }